.months-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
}

.months-container div {
    background-color: #db6868;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.days-container {
}